/** ****************************************************************
                            Clear Style
**************************************************************** **/
* {
    margin: 0;
    padding: 0;
    border: 0;

    color: #fcfdfd;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
    min-height: 40em;
}

body {
    /*min-width: 998px;*/
    background-image: url("../img/main_background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.5s;
}

button:hover {
    cursor: pointer;
}

/** ****************************************************************
                            Color
**************************************************************** **/

/** ****************************************************************
                            Header
**************************************************************** **/
header {
    height: 2.5em;
    background-color: #4d4d4d;
    box-shadow: 0px 0px 10px grey
}

#header-logo {
    float: left;
    min-width: 20em;
}

#header-logo h3 {
    margin: 0.5em;
    /*text-decoration: underline;*/
}

#header-link {
    float: right;
    min-width: 10em;
}

#header-link li {
    display: list-item;
    float: left;
    margin-left: 5px;
    height: 2em;
    width: 3em;
    transition: all 0.5s;
}

#header-link li:hover {
    color: #618c89;
    background-color: #e9e0c8;
    border-bottom: 7px solid #618c89;
}

#header-link li a:hover {
    color: gray;
}

#header-link li a {
    display: block;
    margin-top: 1.1em;

    font-size: small;
    text-align: center;
    text-decoration: none;
}

.connected {
    width: 30em;
    height: auto;
    overflow: visible;
}

.connected p {
    float: left;
    margin-top: 0.7em;
    text-align: center;
}

.connected ul {
    float: left;
}

.connected p:hover + ul {
    display: block;
}

.connected #header-content {
    float: right;
    margin-right: 1em;
}

/** ****************************************************************
                            Footer
**************************************************************** **/
footer {
    clear: both;
    display: block;
    position: relative;
    bottom: 0;
    padding-top: 1em;

    width: 100%;
    height: 5em;

    background: #898989;
}

footer p {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/** ****************************************************************
                            Section
**************************************************************** **/
section {
    margin: 0 auto 5em;
    width: 80%;
    max-width: 1100px;
    min-height: 20em;

    /*background: radial-gradient(to bottom, #98caad, #4d4d4d);*/
    background-color: #98caad; /* Standard syntax */
    box-shadow: 0 0 50px black;
    transition: all 0.5s;
    overflow: visible;
}

section header {
    padding: 0.5em;
}

/** ****************************************************************
                            Article
**************************************************************** **/
article {
    display: block;
    float: left;
    margin: 0.5em 1em 1em;
    width: 30%;
    background-color: #98caad;
    box-shadow: 0 0 5px black;
}

article header h3 {
    text-align: center;
}

article {
    /*background-color: #EAD383;*/
    box-shadow: 0 0 10px black;
}

.content img {
    margin-bottom: 0.5em;
    width: 100%;
    min-height: 10em;
    border-bottom: 1px solid grey;
}

.content ul {
    margin: 0 0 1em 1em;
}

@media screen and (max-width: 1300px) {
    article {
        width: 45%;
    }
}

@media screen and (max-width: 815px) {
    article {
        margin: 0 0.1em 1em;
        width: 100%;
    }
}

/** ****************************************************************
                            Table
**************************************************************** **/
table {
    width: 100%;

    text-align: center;
}

table thead {
    /*background-color: #EAD383;*/
}

table thead tr {
    height: 3em;
}

table tbody tr {
    height: 2em;
}

table td button {
    width: 2em;
    height: 2em;
}

/** ****************************************************************
                            Section Form
**************************************************************** **/
form {
    margin: 0 auto;
    padding: 0 3em;
    max-width: 1200px;
    min-height: 18em;
    font-weight: bold;
    overflow: visible;
}

form fieldset {
    margin: 0.5em auto;
    width: auto;
    border-bottom: 1px solid grey;
}

form fieldset legend h3 {
    text-align: center;
}

form label {
    margin: 0 2em;
}

form input, label select {
    display: inline-block;
    margin: 0.5em auto 1em;
    padding-left: 0.5em;
    height: 2.5em;
    color: #888888;
    box-sizing: border-box;
    border-radius: 5px;
}

label select option {
    color: #888888;
}

form input[type=submit] {
    width: 100%;
    background-color: #4d4d4d;
    color: white;
    transition: all 0.5s;
}

form input[type=submit]:hover {
    /*background: linear-gradient(white, #EAD383);*/
    background-color: #7f7f80;
    cursor: pointer;
}

label {
    margin-right: 7%;
    width: 30%;
    white-space: nowrap;
}

label span {
    display: inline-block;
    /*width: 10%;*/
    min-width: 6em;
}

label input, label select {
    width: 15%;
}

/** ----------------------------------------------------------------
                            Login page
---------------------------------------------------------------- **/
#login {
    margin-top: 5em;
    width: 30%;
    min-width: 35em;
}

#login header {
    display: block;
    margin-bottom: 1em;
    height: 3em;
    text-align: center;
}

#login header h2 {
    padding-top: 0.5em;
}

#login form label {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

#login form label p {
    width: 5em;
}

#login form input {
    padding: 12px 20px;
    width: 100%;
}

/** ----------------------------------------------------------------
                            Filter content
---------------------------------------------------------------- **/
#section_filter {
    clear: both;
    position: relative;
    margin: 3em auto 0;

    /*background-color: #e9c886;*/
    min-height: 15em;
    /*overflow: visible;*/
}

#form_favorite .input_group input[type=submit] {
    display: inline-block;
    margin: 0.5em;
    width: 85%;
}

#btn_favorite {
    float: right;
    background-color: transparent;
}

#btn_favorite img {
    position: relative;
    width: 3em;
}

#btn_favorite img:hover {
    cursor: pointer;
}

/** ----------------------------------------------------------------
                           Welcome page
---------------------------------------------------------------- **/
#welcome {
    margin-top: 5em;
}

#welcome main {
    margin: 3em auto;
    width: 30em;
}

#welcome main h4 {
    margin-bottom: 3em;
}

#welcome main li {
    margin: 1em 0;
    cursor: pointer;
}

#welcome main li a {
    width: 100%;
}

/** ----------------------------------------------------------------
                            Message
---------------------------------------------------------------- **/
.message {
    margin: 2em auto;
    padding: 1em;
    width: 70%;
    height: auto;
    background-color: #97c9ac;
    border-radius: 10px;

    overflow: visible;
}

.message ul li {
    font-weight: bold;
    text-align: center;
}

.error ul li {
    color: red;
}

.success ul li {
    color: green;
}

/** ----------------------------------------------------------------
                            Edit page
---------------------------------------------------------------- **/
#search_more {
    margin-top: 1em;
    width: 100%;
    height: 2em;
    background-color: white;
    border-radius: 5px;
}

#search_more:hover {
    /*background: linear-gradient(white, #97c9ac);*/
    cursor: pointer;
}

.action img {
    width: 1em;
}

/** ----------------------------------------------------------------
                            Show vehicle
---------------------------------------------------------------- **/
#section_vehicle {
    padding: 2em;
    background: radial-gradient(transparent, transparent);
    box-shadow: 0 0 0 transparent;
    overflow: auto;
}

/** ----------------------------------------------------------------
                            Edit form
---------------------------------------------------------------- **/
.first_section {
    margin-top: 5em;
}

/** ----------------------------------------------------------------
                            Favorite table
---------------------------------------------------------------- **/
#favorite table {
    margin: 1em auto;
    width: 90%;
}

#favorite table thead {
    background-color: grey;
    /*border-bottom: 1px solid grey;*/
}

#favorite table tbody tr {
    height: 1em;
}

#favorite table tbody form {
    min-height: 1em;
}

#search_more {
    background-color: #4d4d4d;
}

#search_more:hover {
    background-color: #7f7f80;
}