@charset "utf-8";

/*-----------------------------------------------*/
/*                    clearcss                    /
/*-----------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

header, nav, footer, article, section, figcaption, figure {
    display: block;
}

body {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    text-align: justify;
    background-color: beige;
}

footer {
    display: block;
    background-color: lightblue;
    clear: both;
    padding: 1em;
}

/*-----------------------------------------------*/
/*                    body                        /
/*-----------------------------------------------*/
#container {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 1260px;
    min-width: 780px;
    overflow: auto;
}

/*-----------------------------------------------*/
/*                    header                      /
/*-----------------------------------------------*/
header {
    background-color: lightblue;
    text-align: center;
}

header img {
    margin: 0 auto;
    max-height: 200px;
}

nav {
    display: block;
    margin: 0 auto;

    width: 80%;
    height: 3em;

    vertical-align: middle;

    background-color: #306;

    box-shadow: 0 5px 5px black;
    overflow: auto;
}

nav ul {
    margin: 0 auto;
    list-style: none;
}

nav ul a, nav ul a:visited {
    display: block;
    margin: 0.5em;
    padding: .5em .5em .5em .5em;

    height: 1em;

    vertical-align: middle;
    text-decoration: none;
    background: #306;
    color: #FFF;
}

nav ul a:hover, nav ul a:active, nav ul a:focus,
nav ul li:hover, nav ul li:active, nav ul li:focus{
    background: #FFF;
    color: #306;
}

nav ul li {
    float: left;
    margin: 0 2em;
    height: inherit;
    vertical-align: middle;
}

/*-----------------------------------------------*/
/*                   container                    /
/*-----------------------------------------------*/
main {
    padding: 0 1.5em;
}

main h2 {
    margin: 0.1em 0 1em 0;
}

article {
    float: left;
    margin: 1em 1.1em 1em 0;
    width: 17em;
    background-color: darkgrey;
    
    box-shadow: 5px 5px 5px #888888;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}


article.last {
    margin-right: 0;
}

article header {
    margin: 0 auto;
    padding: 0.5em;
}

article section.content p {
    margin: 0 auto 1em;
    width: 90%;
    text-align: justify;
}

article .content figure img {
    width: 100%;
}

figure figcaption {
    margin-bottom: 0.5em;
    text-align: center;
    font-size: small;
    font-style: italic;
}

.article_footer {
    padding: 0.5em;
    height: 1.5em;
    background-color: slategray;
}

/*-----------------------------------------------*/
/*                    footer                      /
/*-----------------------------------------------*/
