body {
    width: 30em;
}

form {
    width: 100%;
}

/*
    section of contact
 */
#contact {
    overflow: auto;
    float: right;
    margin-right: 1em;
}

#contact p {
    margin: 0;
}

/*
    section of amendment
 */
#amendment {
    float: left;
    width: 20%;
}

label {
    display: block;
    clear: both;
}

input[type="text"] {
    margin-right: 1em;
    margin-bottom: 5px;
    display: inline;
}

/*
    section of message
*/
#message {
    overflow: auto;
}

.clearfix {
    clear: both;
}